<a href="https://colab.research.google.com/github/alanmanoel22/pythoncurso/blob/Curso_Python/3_atividade_formatacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dia = 30
mes = 12
ano = 1988
data = 'Eu nasci em %d/%d/%d' %(dia,mes,ano)
print(data)

Eu nasci em 30/12/1988

In [ ]:
horas = 20
minutos = 2
print ("agora são %d horas e %.d minutos" %(horas, minutos))

agora são 20 horas e 2 minutos

Operadores Aritimeticos

In [9]:
print (10 + 20)

30

Operadores Logicos

In [10]:
resultado1 = True and False
print(resultado1)

False

In [12]:
var1 = True
var2 = True
var3 = False
print (var1 and var2 and var3)

False

In [14]:
clima_bom = True
estou_disposto = False
vou_ao_mercado = clima_bom or estou_disposto
print ('Vou ao mercado?',vou_ao_mercado)

Vou ao mercado? True

# Casting

In [15]:
texto = 'olá'
numero = 2
decimal = 1.5
boolean = True
print(type(texto))
print(type(numero))
print(type(decimal))
print(type(boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [18]:
texto1 ='2'
texto2 = '1.5'
numero1 = int(texto1)
numero2 = float(texto2)
print (numero1 + numero2)

3.5

In [20]:
num = 21.23121
inteira = int(num)
print (inteira)

21

In [21]:
texto = 'o numero é'
numero = 10.3
numero_em_string = str(numero)
print(texto,numero_em_string )
print (type(numero_em_string))

o numero é 10.3
<class 'str'>

In [22]:
numero = 1231432432
texto = str(numero)
numero_de_digitos = len(texto)
print (numero_de_digitos)

10

In [27]:
vazio = None
numero_um = 15
numero_zero = 0
texto ='Texto'
texto_vazio = ""
decimal_zero = 0.0
decimal = 3.5

print ("Variavel tem valor: ", bool (vazio))
print ("Numero tem valor: ", bool (numero_um))
print ("Variavel tem valor: ", bool (numero_zero))

print ("texto tem valor: ", bool (texto))
print ("texto tem valor: ", bool (texto_vazio))

print ("float tem valor: ", bool (decimal_zero))
print ("float tem valor: ", bool (decimal))

Variavel tem valor:  False
Numero tem valor:  15
Variavel tem valor:  False
texto tem valor:  True
texto tem valor:  False
float tem valor:  False
float tem valor:  True

In [31]:
saldo  = '5000'
saldo_total = int(saldo)
saque = saldo_total - 1000
saldo_total = str(saque)
print(saldo_total)

4000

In [30]:
saldo_bancario = 0
print ('Meu saldo é', bool(saldo_bancario) )

Meu saldo é False

# Entradas de Usuários

In [33]:
valor_escrito = input()
print(type(valor_escrito))
print(valor_escrito)

20
<class 'str'>
20

In [34]:
meu_nome = input()
print("eu me chamo %s" %(meu_nome))

alan
eu me chamo alan

In [37]:
dia = input('Insira o dia: ')
mes = input('Insira o mes: ')
ano = input(' Insira o ano: ')

print('a data inserida foi: %s/%s/%s' %(dia,mes,ano) )

Insira o dia: 30
Insira o mes: 12
 Insira o ano: 1988
a data inserida foi: 30/12/1988

In [41]:
Entrada_usuário = input("Digite 1 para verdadeiro e 0 para falso")
valor_inteiro = int(Entrada_usuário)
valor_logico = bool(valor_inteiro)
print("Voce escolheu: %s " %(valor_logico))
print("ou ainda vc escolheu: %i "%(valor_inteiro))

Digite 1 para verdadeiro e 0 para falso2
Voce escolheu: True
ou ainda vc escolheu: 2